aiohttp 
aiosignal 
alabaster 
anaconda-client==1.11.0
anaconda-navigator==2.1.4
anaconda-project 
anyio
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow
astroid 
astropy 
asttokens 
async-timeout 
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black 

blinker==1.6.2

brainflow==5.3.0
brotlipy==0.7.0

certifi==2021.10.8

charset-normalizer==2.0.7
click==8.1.3
cloudpickle 
clyent==1.2.2

comtypes==1.1.10
conda==22.9.0
conda-build==3.21.8

conda-repo-cli==1.0.5

conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
daal4py==2021.5.0
datashape==0.5.4
et-xmlfile==1.1.0
Flask==2.3.2
Flask-SQLAlchemy==3.0.3
fonttools==4.25.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
llvmlite==0.38.0
MarkupSafe==2.1.3
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nptyping==1.4.4
numpy==1.21.3
openai==0.19.0
openpyxl==3.0.9
pandas==1.3.4
pandas-stubs==1.2.0.35

pip==23.1.2

pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycosat==0.6.3

pycurl==7.45.1
PyDispatcher==2.0.5

pyreadline==2.1

pytest==7.1.2

python-dotenv==0.19.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4

pytz==2021.3

pywin32==302

requests==2.26.0

tables==3.6.1

TBB==0.2
