<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> -->
</head>

<body>
    <!-- <div style="margin-top: 50px;" class="ui container"> -->
        <h1 class="ui center aligned header">To Do App</h1>
        <br>
    <form action="{{url_for('add')}}" method="post">
        <input type="text" name="todo" placeholder="New task">
        <button type="submit">Add</button>

    </form>
    <br>
    <div class="box">
    <ul>
        {% for todo in todo_list %}
            <li>
                <span {%if todo['done']%} style="text-decoration: line-through"{%endif%}>{{todo['task']}}</span>
                <form action="{{url_for('check',id=loop.index0)}}">
                <input type="checkbox" name="done" style="float:right"{% if todo['done']%} checked {%endif%} onchange="this.form.submit()">
            </form>
                <!-- <a href = "{{ url_for('check',id=loop.index0)}}">Check</a> -->
                <!-- <a href="{{ url_for('edit',id=loop.index0)}}">Edit</a> -->
                <a href="{{ url_for('delete',id=loop.index0)}}">Delete</a>
                


                <!-- og code
                     <span {%if todo['done']%} style="text-decoration: line-through"{%endif%}>{{todo['task']}}</span>
                <label><input type="checkbox" name="done" {% if todo['done']%} checked {%endif%} onchange="this.form.submit()"></label>
                
                <a href = "{{ url_for('check',id=loop.index0)}}">Check</a> -->
                <!-- <a href="{{ url_for('edit',id=loop.index0)}}">Edit</a> -->
                <!-- <a href="{{ url_for('delete',id=loop.index0)}}">Delete</a> -->
                
 
            </li>
        {%endfor%}
    </ul>
</div>   
    <!-- <form action="">
        <div>
            <label for ="task">To-do Task</label>
            <input type="text" name="task" placeholder="Enter task...">
            <br>
            <button type="submit">Add</button>
        </div>
    </form> -->

    <form action="{{url_for('generate_action')}}">
        <button type="submit">Generate Next Steps</button>
        <!-- {% if action_list %} -->
        <!-- <div class="box">
        <ul>
            {% for todo in action_list %}
            <li>
                <span {%if todo['done']%} style="text-decoration: line-through"{%endif%}>{{todo['task']}}</span>
                <form action="{{url_for('check_step',id=loop.index0)}}">
                <input type="checkbox" name="done" style="float:right"{% if todo['done']%} checked {%endif%} onchange="this.form.submit()">
            </form>
                <a href="{{ url_for('delete_step',id=loop.index0)}}">Delete</a>
          
            </li>
        {%endfor%}
    </ul>
</div> -->
<!-- {%endif%} -->
    </form>
    <br>
    <div class="box">
        <ul>
            {% for todo in action_list %}
            <li>
                <span {%if todo['done']%} style="text-decoration: line-through"{%endif%}>{{todo['task']}}</span>
                <form action="{{url_for('check_step',id=loop.index0)}}">
                <input type="checkbox" name="done" style="float:right"{% if todo['done']%} checked {%endif%} onchange="this.form.submit()">
            </form>
                <a href="{{ url_for('delete_step',id=loop.index0)}}">Delete</a>
          
            </li>
        {%endfor%}
    </ul>
</div>
    <!-- {% if action_list %}
  <div class="action step">{{ action_list[0]['task'] }}</div>
  {% endif %} -->
  
</body>
</html>    
