<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Todo App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </head>

        <section class="vh-100 gradient-custom-2">
            <div class="card mask-custom">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check"
                    width="60">
                <h1>Your To-Do List</h1> 
                <br>
                <br>
                <form action="{{url_for('add')}}" method="post">
                    <input type="text" name="todo" placeholder="New task">
                    <button type="submit">Add</button>
        
                </form>
                <br>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for todo in todo_list %}
                        <tr>
                            <td>
                                <span {%if todo['complete']%} style="text-decoration: line-through"
                                    {%endif%}>{{todo['task']}}</span>
                            </td>
                            <td>
                                <div class="checkbox-delete-wrapper">
                                    <form action="{{url_for('check',id=loop.index0)}}">
                                        <input type="checkbox" name="done" class="checkbox-input" style="float:right" {% if todo['complete']%} checked
                                            {%endif%} onchange="this.form.submit()">
                                    </form>
                                    <a href="{{ url_for('delete',id=loop.index0)}}">Delete</a>
                                </div>
                            </td>
                        </tr>   
                        {%endfor%}
                </table>
                <br>
                <br>

                <form action="{{url_for('generate_action')}}">
                    <button type="submit">Generate Next Steps</button>
                </form>
        
                <br>
                {%if action_len > 0%}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Next Steps</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for todo in action_list %}
                        <tr>
                            <td>
                                <span {%if todo['complete']%} style="text-decoration: line-through"
                                    {%endif%}><strong>{{todo['task']+": "}}</strong>{{todo['next_steps']}}</span>
                            </td>
                            <td>
                                <div>
                                    <form action="{{url_for('check_step',id=loop.index0)}}">
                                        <input type="checkbox" class="checkbox-input" name="done" style="float:right" {% if todo['complete']%} checked
                                            {%endif%} onchange="this.form.submit()">
                                    </form>
                                    <a href="{{ url_for('delete_step',id=loop.index0)}}">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                {%endif%}
                <br>
            </div>
        </section>
        <footer></footer>

</html>    

